body{
    margin: 0;
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                        'header header header header'
                        'section section section section'
                        'footer footer footer footer';
    grid-template-rows: 20vh 40vh 50vh 20vh;

}

nav{
    grid-area: nav;
    background-color: blueviolet;
}

header{
    grid-area: header;
    background-color: blue; 
}
section{
    grid-area: section;
    background-color: yellow; 
}

footer{
    grid-area: footer;
    background-color: brown;
}
@media(min-width:768px){
    body{
        grid-template-areas: 'nav nav nav nav'
                        'header header header header'
                        'footer footer section section'
                        'footer footer section section';
    }
}

@media(min-width:1024px){
    body{
        grid-template-areas: 'nav nav nav nav'
                             'header header nav nav'
                             'footer footer section section'
                             'footer footer section section';
    }
}
